<br/>
<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>

      <div class="form-group">
        <label class="col-md-4">Nombre del cliente</label>
        <input maxlength="50" type="text" class="form-control" formControlName="customer_name" #customer_name />
      </div>
      <div *ngIf="angForm.controls['customer_name'].invalid && (angForm.controls['customer_name'].dirty || angForm.controls['customer_name'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['customer_name'].errors.required">
              Este campo es requerido.
          </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Ciudad</label>
        <input maxlength="30" type="text" class="form-control" formControlName="customer_city" #customer_city />
      </div>
      <div *ngIf="angForm.controls['customer_city'].invalid && (angForm.controls['customer_city'].dirty || angForm.controls['customer_city'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['customer_city'].errors.required">
              Este campo es requerido.
          </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Direcci&oacute;n</label>
        <input maxlength="100" type="text" class="form-control" formControlName="customer_address" #customer_address />
      </div>
      <div *ngIf="angForm.controls['customer_address'].invalid && (angForm.controls['customer_address'].dirty || angForm.controls['customer_address'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['customer_address'].errors.required">
              Este campo es requerido.
          </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Tel&eacute;fono</label>
        <input maxlength="20" pattern="[0-9]+" type="text" class="form-control" formControlName="customer_phone" #customer_phone />
      </div>
      <div *ngIf="angForm.controls['customer_phone'].invalid && (angForm.controls['customer_phone'].dirty || angForm.controls['customer_phone'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['customer_phone'].errors.required">
              Este campo es requerido.
          </div>
          <div *ngIf="angForm.controls['customer_phone'].errors.pattern">
              Este campo debe tener solamente n&uacute;meros.
          </div>           
      </div>

      <div class="form-group">
        <button (click)="addCustomer(customer_name.value, customer_city.value, customer_address.value, customer_phone.value)"
          [disabled]="angForm.pristine || angForm.invalid" 
          class="btn btn-primary">
          Crear
        </button>        
      </div>

    </form>
  </div>
</div>
